body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    background: linear-gradient(to bottom, #001f3f, #3399ff);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(6px);
 
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin-right: 10px;
  }

  .logo span {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
  }

  nav{
    flex-grow: 1; 
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  nav ul li a:hover {
    text-decoration: underline;
  }